.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to full viewport height */
    border-color: black;
}
  
.meter-board {
    width: 200px; /* Set the width of the file */
    height: 200px; /* Set the height of the file */
    background-color: #ccc; /* Set a background color for the file */
    border-color: blue;
}

.units {
    font-size: xx-large;
}